* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 300;
}



.bs-dash {
  border: 2px dashed;
}

ul {

  list-style-type: none;
}

ul a {
  text-decoration: none;
  color: white;
}

ul a:hover {
  color: #ffffffc9;
}

a {
  text-decoration: none;
  color: black;
}


header ul {
  display: flex;
  justify-content: center;
}

header ul li {
  margin: 0 15px;
}


/* HEADER */

.container {
  display: flex;
  justify-content: center;

}

.c-head {
  display: flex;
  justify-content: center;
  align-items: center;


}

/* JUMBO MAIN */

.jumbo {
  background-image: url(/assets/img/jumbo.png);
  background-repeat: no-repeat;
  background-size: cover;
}


.lone {
  margin: 50px auto;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.m-title {
  font-size: 60px;
  color: white;
  margin: 5%;
  text-align: center;
}

.p-title {
  font-size: 18px;
  margin: 5%;
  line-height: 30px;
  text-align: center;
  color: white;
}

main div div ul {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.dwnld {

  width: 20%;
  border-radius: 20px;
  padding: 14px;
  margin-right: 10px;
  background-color: white;
  color: black;
  text-align: center;

}

.dwnld:hover {
  background-color: #ffffffbb;
}

.open {
  width: 35%;
  border-radius: 20px;
  padding: 14px;
  margin-left: 10px;
  background-color: #222831;
  color: white;
  text-align: center;
}

.open:hover {
  background-color: #ffffffbb;

}


/* C-MAIN */


.c-main {
  display: flex;
  margin: 50px auto;


}

.img {
  margin-top: 60px;
  width: 80%;

}

.cella-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  font-size: 45px;
  margin: 25px;
  text-align: left;
}

p {
  font-size: 19px;
  margin: 0 25px;
  text-align: left;
}



.cella {
  width: 100%;
  padding: 10px;

}

.cella-btn {
  width: 6%;
  border-radius: 18px;
  padding: 8px;
  background-color: white;
  text-align: center;

}

.cella-no-p {
  width: 100%;
}

.a-left {
  text-align: left;
}

.a-center {
  text-align: center;
}

.a-right {
  text-align: right;
}

/* BIG SECTION */

.big {
  background-image: url(../img/wave.svg);
  background-size: 100vw 10vh;
  background-repeat: no-repeat;
  background-position: bottom;

}

.flex-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

.img-2 {

  width: 80%;
  align-self: center;
}

.h2-stars {
  line-height: 5px;
  font-size: 20px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 75px;
  width: 50%;
  padding: 10px;
  margin-bottom: 40px;



}

.btn-2 {

  font-weight: 500;
  text-align: center;
  width: 300px;
  margin: 20px;
  padding: 15px 30px;
  border-radius: 25px;
  color: white;
  background-color: #8ea1e2;
}


/* FOOTER */

footer div div div div h2 {
  color: #8da2e4;
  font-size: 34px;
  text-align: left;
  margin: 20px auto;
}


.c-sub {
  display: flex;
  justify-content: center;
  margin: 80px auto;
}


.f-ita {
  margin-top: 40px;
  color: white;
  display: flex;
  vertical-align: middle;
}

.ita {

  width: 26px;
}

.logos {
  margin-top: 20px;
  color: white;
  font-size: 26px;
  width: 45%;
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
}

.column {
  line-height: 30px;
  text-align: left;
  font-weight: 600;
  color: white;

}

.column ul>li:first-child {
  color: #8da2e4;
  font-weight: 800;
  width: 100%;
}

/* SPECIFIED CELLS*/



.cella-no-p.width-70 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* C-FOOT */

.container.bg-ash {
  height: auto;
}

.c-foot {
  border-top: 2px solid #8da2e4;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  padding: 50px;

}

.f-div {
  font-size: 20px;
  color: white;
  background-color: #8da2e4;
  border-radius: 15px;
  padding: 13px;

}



/* WIDTHS */

.width-64 {
  width: 64%;
}

.width-18 {
  width: 18%;
}

.width-1k {
  width: 1000px;
}

.width-12k {
  width: 1200px;
}

.width-14k {
  width: 1400px;
}

.width-60 {
  width: 60%;
}

.width-40 {
  width: 40%;
}

.width-30 {
  width: 30%;
}

.width-70 {
  width: 70%;
}



/* HEIGTHS */
.height-75 {
  height: 75px;
}

.height-600 {
  height: 600px;
}

.height-12k {
  height: 1200px;
}

.height-90 {
  height: 90px;
}




/* COLORS */
.bg-lightblue {
  background-color: #3160e0;
}

.bg-navy {
  background-color: navy;
}

.bg-ocra {
  background-color: #e2c239;
}

.bg-pink {
  background-color: pink;
}

.bg-plum {
  background-color: plum;
}

.bg-cyan {
  background-color: rgb(22, 107, 235);
}

.bg-gray {
  background-color: #f6f6f6;
}

.bg-green {
  background-color: green;
}

.bg-ash {
  background-color: #23272a;
  ;
}

.bg-pink-b {
  background-color: #f76b8a;
}

.bg-aqua {
  background-color: #00aaa0;
}

.bg-aquamarine {
  background-color: aquamarine;
}


.bg-violet {
  background-color: #8da2e4;
}